In [ ]:
print("suma 2+2=", 2+2)
print("suma 666+24=", 666+24)
print("suma 67+67=", 67+67)
print("suma 78+98=", 78+98)
print("suma 34+78=", 34+78)
print("restas")
print("resta 9-2=", 9-2)
print("resta 9-8=", 9-8)
print("resta 93-6=", 93-6)
print("resta 7-8=", 7-8)
print("resta 9-9=", 9-9)
print("multiplicacion")
print("multiplicacion 9*O=", 9*0)
print("multiplicacion 7*7=", 7*7)
print("multiplicacion 9*9=", 9*9)
print("multiplicacion 4*6=", 4*6)
print("multiplicacion 6*6=", 6*6)
print("division")
print("division 9/9=", 9/9)
print("division 9/8=", 9/8)
print("division 9/4=", 9/4)
print("division 9/2=", 9/2)
print("division 9/32=", 9/32)

suma 2+2= 4
suma 666+24= 690
suma 67+67= 134
suma 78+98= 176
suma 34+78= 112
restas
resta 9-2= 7
resta 9-8= 1
resta 93-6= 87
resta 7-8= -1
resta 9-9= 0
multiplicacion
multiplicacion 9*O= 0
multiplicacion 7*7= 49
multiplicacion 9*9= 81
multiplicacion 4*6= 24
multiplicacion 6*6= 36
division
division 9/9= 1.0
division 9/8= 1.125
division 9/4= 2.25
division 9/2= 4.5
division 9/32= 0.28125

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:8
ingrese el numero2:8
8 + 8 = 16

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:5
ingrese el numero2:7
5 + 7 = 12

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:4
ingrese el numero2:97
4 + 97 = 101

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:45
ingrese el numero2:654
45 + 654 = 699

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:576
ingrese el numero2:567
576 + 567 = 1143

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:67
ingrese el numero2:987
67 + 987 = 1054

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:68
ingrese el numero2:97
68 + 97 = 165

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:878
ingrese el numero2:678
878 + 678 = 1556

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:345
ingrese el numero2:547
345 + 547 = 892

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1+n2
print(n1, "+", n2, "=", r)

...ejercicio...

ingrese el numero 1:23545
ingrese el numero2:346
23545 + 346 = 23891

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:67
ingrese el numero2:67
67 - 67 = 0

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:345
ingrese el numero2:3467
345 - 3467 = -3122

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:345
ingrese el numero2:688
345 - 688 = -343

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:11
ingrese el numero2:11
11 - 11 = 0

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:98
ingrese el numero2:44
98 - 44 = 54

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:95
ingrese el numero2:39
95 - 39 = 56

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:909
ingrese el numero2:99
909 - 99 = 810

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:009
ingrese el numero2:88
9 - 88 = -79

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1-n2
print(n1, "-", n2, "=", r)

...ejercicio...

ingrese el numero 1:00
ingrese el numero2:00
0 - 0 = 0

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:56
ingrese el numero2:45
56 * 45 = 2520

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:65
ingrese el numero2:756
65 * 756 = 49140

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:97
ingrese el numero2:07
97 * 7 = 679

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:9878
ingrese el numero2:7878
9878 * 7878 = 77818884

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:44
ingrese el numero2:44
44 * 44 = 1936

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:34
ingrese el numero2:65
34 * 65 = 2210

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:76
ingrese el numero2:67
76 * 67 = 5092

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:99
ingrese el numero2:55
99 * 55 = 5445

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:66
ingrese el numero2:555
66 * 555 = 36630

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1*n2
print(n1, "*", n2, "=", r)

...ejercicio...

ingrese el numero 1:46
ingrese el numero2:457
46 * 457 = 21022

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:6
ingrese el numero2:2
6 / 2 = 3.0

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:54
ingrese el numero2:446
54 / 446 = 0.1210762331838565

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:654
ingrese el numero2:546
654 / 546 = 1.1978021978021978

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:756
ingrese el numero2:86
756 / 86 = 8.790697674418604

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:6757
ingrese el numero2:9856
6757 / 9856 = 0.6855722402597403

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:567
ingrese el numero2:678
567 / 678 = 0.8362831858407079

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:88
ingrese el numero2:978
88 / 978 = 0.08997955010224949

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:788
ingrese el numero2:690
788 / 690 = 1.1420289855072463

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:677
ingrese el numero2:578
677 / 578 = 1.171280276816609

In [ ]:
print("...ejercicio...")
print("")
n1=int(input("ingrese el numero 1:"))
n2=int(input("ingrese el numero2:"))
r=n1/n2
print(n1, "/", n2, "=", r)

...ejercicio...

ingrese el numero 1:679
ingrese el numero2:679
679 / 679 = 1.0

In [ ]:
b= 0
a= 0

if type(b) is not int:
  raise Exception("error de tipo - unicamente se permite enteros")

elif b == 0:
print ("no se puede dividir entre el cero")
else:
print(a/b)
print(a/b)

IndentationError: expected an indented block after 'elif' statement on line 7 (ipython-input-200179038.py, line 8)

In [ ]:
a= float(input("valor de a:"))
b= float(input("valor de b:"))
x = -b/a
print("respuesta:", x)

valor de a:4
valor de b:8
respuesta: -2.0

In [ ]:
a = float(input("Valor de a:"))
b = float(input("Valor de b:"))
if a !=0:
 x = -b/a
print("Respuesta: ", x)

if a == 0:
  if b !=0:
    print("La operacion no se puede realizar")
    if b ==0:
      print("La operacion puede tener varias opciones")

Valor de a:7
Valor de b:6
Respuesta:  -0.8571428571428571

In [ ]:
a = 50
b = 52
if a < b:
  print(a,"Es menor que", b)
elif a > b:
  print(a,"Es mayor que", b)
else:
      print(a,"es igual que", b)

50 Es menor que 52

In [ ]:
a =
b =
if a % b:
  print(a,"", b)
elif a % b:
  print(a,"Es mayor que", b)
else:
      print(a,"es igual que", b)

In [ ]:
class cajero:
  def __init__(self, saldo_inicial):
    self.saldo
if saldo_inicial > 10000:

else
  print("El saldo debe ser mayor a $10,000")
  self.saldo = 10001

def depositar(self, monto):
if monto <= 0:
  self.saldo += monto

def retirar(self, monto):
elif self.saldo - monto < 10000:

def mostrar_saldo(self)
saldo_inicial= float(input("Ingresa el saldo inicial: "))

cajero1 = cajero(saldo_inicial=saldo_inicial)

IndentationError: expected an indented block after 'if' statement on line 4 (ipython-input-1904559060.py, line 6)